################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CleanArchitecture/CleanArc/.vs
/.vs
/infracode/.vs
/DDDCqrsEs/DDDCqrsEs/.vs
